.container{
    width: 720px;
    height: 738px;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}

.navlist{
    width: 95%;
    height: 40px;
    padding: 10px;
    padding-right: 24px;
    padding-bottom: 30px;
    padding-top: 2px;
    list-style: none;
    border-radius: 5px;
    background-image: linear-gradient( 179.7deg,  rgba(249,21,215,1) 1.1%, rgba(22,0,98,1) 99% );
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.navcontainer{
    width: 700px;
    height: 100px;
    background-color: rgb(135, 65, 226);
    margin: 2px;
    padding: 10px;
    border-radius: 10px;
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    position: relative; */
}

.navitems{
    /* display: flex;
    justify-content: center; */
    padding-top: 20px;
    gap: 10px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#brandname{
    font-size: 50px;
    color: white;
    padding: 10px;
    padding-top: 30px;
}

.footerbox{
    background-color: rgb(62, 178, 199);
    width: 99%;
    text-align: center;
    height: 30px;
    border-radius: 3px;
    padding-top: -10px;
}

.footerbox p{
    font-size: 20px;
    color: azure;
    padding-top: 4px;
}

.contentbox{
    width: 90%;
    height: 550px;
    margin: auto;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 10px red;
    overflow: scroll;
}

.item{
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.leftbox{
    /* height: px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.rightbox{
    border-radius: 8px;
    padding-top: 85px;
}

.rightbox img{
    width: 300px;
    border-radius: 8px;
    transition: all 1s linear 0s;
}

.rightbox img.hover{
    transform: scale(1.3);
}